@mixin list-default{
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin respond-to($media){
  @if $media == xs{
    @media (max-width: $screen-xs-max) { @content }    
  }
  @else if $media == small {
    @media (min-width: $screen-sm-min) {  @content }
  }
}

@mixin dropdown{
  position: relative;
  &.show>.az-menu {
    display: block;
  }        
  >.az-toggle {
    background-color: #FFF;
    padding: 5px 8px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    color: #77909D;
  
  }

  >.az-menu {
    @include list-default;
    width: 100%;
    border: 1px solid $border-color;
    background-color: #FFF;
    position: absolute;
    display: none;
    transition: -webkit-transform ease 250ms;
    transition: transform ease 250ms;
    li{
      color: #77909D;
      cursor: pointer;
      padding: 5px 8px;
      &:hover{
        background-color: #657FAC;
        color: #FFF;
      }
    }
  }
  .icon-angle-down{
    background-image: url('icons/angle-down.svg');
    background-position: center center;
    width: 10px;
    height: 8px;
    margin-left: .5rem;
  }

}