$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;


@import url('https://fonts.googleapis.com/css?family=Roboto');

$border-color: #D8DDE6;

@import "mixin";
@import "components/dropdown";
@import "components/icons";
@import "components/header";
@import "components/widget";
@import "components/lists";
@import "components/barchart";

body {
  background-color: #F9F9F9;
  color: #2B405B;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;  
  font-size: 14px;
}

h1{ 
  font-size: 22px;
  @include respond-to(small){
    margin: 2rem 0;
  }
}

.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @include respond-to(small){
    width: 1500px;
  }
}


.dot{
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 100px;  
}

.oval{
  background-position: center center;
  color: #FFF;
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #FFF;
  border-radius: 100px;
  text-align: center;
  font-size: 11px;
  span{
    margin: auto;
    line-height: 26px;
  }
}

.flex{
  display: flex;
}


span.label{
  border-radius: 3px;
  background-color: rgba(101,127,172,0.1);
  padding: 3px 5px;
  font-size: 10px;
  color: #657FAC;
  line-height: 11px;
  text-transform: uppercase;
}

